html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Container */
#container_css {
    width: 1280px;
    height: 100%;
    margin: auto;
    margin-top: 0px;
}

/* Header */
#header_css {
    width: 1280px;
    height: 160px;
    background-image: url(/img/header.png);
}

#logo {
    width: 200px;
    height: 160px;
    float: left;
    margin-left: 10px;
}

/* Navigatie */
#navigatie_css {
    width: 1280px;
    height: 40px;
}

/* CSS Menu */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  height: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #4a4a4a;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #4a4a4a;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}

#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #001182;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #ffffff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #001182;
  color: #fff;
}

#cssmenu > ul li.active a {
  width: auto;
  background: #001182;
  color: #fff;
}

#cssmenu > ul li a active {
  width: auto;
  background: #001182;
  color: #fff;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
    background: #4a4a4a;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('/img/menu.png') no-repeat;
    background-position: 35% -140%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #001182;
    background-position: 35% -140%;

  }
  #cssmenu > ul li {
    display: none;
  }

  #cssmenu ul li.active a {
  background: #02327a;
}
  #cssmenu > ul li.right {
    display: block;
    position: static;
    width: 100%;
    background: #4a4a4a;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #4a4a4a;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;

  }
  #cssmenu > ul li.has-sub > a {
    display: block;
    background: #4a4a4a;
  }
}

@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}


/* Content */
#content {
    width: 1280px;
    min-height: 650px;
    margin-top: 20px;
    background-color: #b6b6b6;
}

/* Login */
#login {
    width: 450px;
    height: 300px;
    margin: auto;
    background-color: #FFFFFF;
}

/* Admin Paneel*/
#adminpaneel {
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: #FFFFFF;
}

/* Speelschema tabel*/
.speelschema {
    display: table-cell;
    vertical-align: middle;
    height: 500px;
}

#speelschemacenter {
    width: 800px;
    height: 650px;
    margin: auto;
}

/* Footer */
#footer {
    width: 1280px;
    height: 40px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 40px;
}